body {
    background: linear-gradient(
        to top in oklab,
        rgb(74, 7, 112) 0%,
        rgba(108, 16, 161, 0.7) 6%,
        rgba(74, 7, 112, 0.3) 14%,
        rgba(74, 7, 112, 0.1) 22%,
        rgba(74, 7, 112, 0.02) 28%,
        transparent 30%,
        black 30%
    ), black;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

header{
    margin: 20px 50px;
    border: 2px solid rgb(74, 7, 112);
    border-radius: 20px;
    background-color: rgb(29, 27, 27);
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 10px  50px;
    transition: all 0.3s ease;
}

header:hover{
    box-shadow: 0 0 20px rgb(74, 7, 112);
}

header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.descricao{
    color: white;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    justify-content: space-between;
    gap: 40px
}
.descricao a {
    display: inline-block; /* Permite aplicar margem, largura e altura */
    background-color: rgb(74, 7, 112);
    color: white;
    text-decoration: none;
    border-radius: 12px;
    padding: 12px 24px;   /* Usar padding em vez de border deixa o botão mais limpo */
    margin-top: 20px;     /* Define a distância do texto */
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(74, 7, 112);
    transition: all 0.3s ease;
}

/* Efeito ao passar o mouse sobre o botão */
.descricao a:hover {
    background-color: rgb(108, 16, 161);
    border-color: rgb(108, 16, 161);
    box-shadow: 0 0 15px rgb(108, 16, 161);
    transform: translateY(-3px); /* Leve elevação ao passar o cursor */
}

.foto img {
 width: 400px;          
    height: 400px;         
    border-radius: 50%;    
    object-fit: cover;    
    flex-shrink: 0;
    border: 3px solid rgb(74, 7, 112);
    transition: all 0.3s ease;
}

.foto img:hover {
    box-shadow: 0 0 20px rgb(74, 7, 112);
}
